<div class="container p-4">

    <div class="dashboard-header d-flex justify-content-between align-items-center mb-4">
            <h2 class="page-title m-0">Enquiries</h2>

            <div class="header-actions d-flex gap-3 align-items-center">
                <div class="search-box">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <button class="btn btn-dark btn-add">Add Enquiries</button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>User Name</th>
                        <th>Phone</th>
                        <th>Pickup Location</th>
                        <th>Drop Location</th>
                        <th>Ride Date</th>
                        <th>Time</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>John Mehta</td>
                        <td>+91 9876543210</td>
                        <td>Surat</td>
                        <td>Surat</td>
                        <td>12 Jan 2026</td>
                        <td>6:00 PM</td>
                        <td class="text-center">
                            <div class="action-btns">
                                <i class="bi bi-eye text-primary"></i>
                                <i class="bi bi-pencil-square text-secondary"></i>
                                <i class="bi bi-trash text-danger"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>