<div class="container p-4">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="heder-title">
                        <h2>Inquirys</h2>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="search d-flex flex-wrap align-items-center justify-content-end  ">
                        <div class="search-box">
                            <i class="bi bi-search search-icon"></i>
                            <input type="text" placeholder="Search..." />
                        </div>
                        <div class="add-btn ms-3 pe-auto" (click)="OpenModal()">
                            <button class="btn">Add Inquiry</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>User Name</th>
                    <th>Phone</th>
                    <th>PickUp Location</th>
                    <th>Drop Location</th>
                    <th>Ride Date</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> 1 </td>
                    <td>
                        <img src="../../../assets/logo/event.avif" alt="">
                    </td>
                    <td>John Mehta</td>
                    <td>+91 9876543210</td>
                    <td>surat</td>
                    <td>Surat</td>
                    <td>12 Jun 2026</td>
                    <td>6:00 Pm</td>
                    <td class="action-btns">
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash-fill delete"></i>
                    </td>
                </tr>
                  <tr>
                    <td> 2 </td>
                    <td>
                        <img src="../../../assets/logo/event.avif" alt="">
                    </td>
                    <td>John Mehta</td>
                    <td>+91 9876543210</td>
                    <td>surat</td>
                    <td>Surat</td>
                    <td>12 Jun 2026</td>
                    <td>6:00 Pm</td>
                    <td class="action-btns">
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash-fill delete"></i>
                    </td>
                </tr>
                  <tr>
                    <td> 3 </td>
                    <td>
                        <img src="../../../assets/logo/event.avif" alt="">
                    </td>
                    <td>John Mehta</td>
                    <td>+91 9876543210</td>
                    <td>surat</td>
                    <td>Surat</td>
                    <td>12 Jun 2026</td>
                    <td>6:00 Pm</td>
                    <td class="action-btns">
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash-fill delete"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="viewEnquiryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal view-modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bold">John Mehta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr class="mx-4 my-2">
            <div class="modal-body p-4 pt-2">
                <div class="d-flex flex-column gap-3">
                    <div class="view-item d-flex align-items-center gap-3">
                        <div class="icon-circle"><i class="bi bi-telephone-fill"></i></div>
                        <span class="view-label fw-bold">Phone Number :</span>
                        <span class="view-value">+91 9876543210</span>
                    </div>
                    <div class="view-item d-flex align-items-center gap-3">
                        <div class="icon-circle"><i class="bi bi-geo-alt-fill"></i></div>
                        <span class="view-label fw-bold">Pickup Location :</span>
                        <span class="view-value">Surat</span>
                    </div>
                    <div class="view-item d-flex align-items-center gap-3">
                        <div class="icon-circle"><i class="bi bi-geo-alt-fill"></i></div>
                        <span class="view-label fw-bold">Drop Location :</span>
                        <span class="view-value">Surat</span>
                    </div>
                    <div class="view-item d-flex align-items-center gap-3">
                        <div class="icon-circle"><i class="bi bi-calendar-event-fill"></i></div>
                        <span class="view-label fw-bold">Ride Date :</span>
                        <span class="view-value">12 Jan 2026</span>
                    </div>
                    <div class="view-item d-flex align-items-center gap-3">
                        <div class="icon-circle"><i class="bi bi-clock-fill"></i></div>
                        <span class="view-label fw-bold">Time :</span>
                        <span class="view-value">6:00 Pm</span>
                    </div>
                </div>
                <div class="text-center mt-4 pt-2">
                    <button type="button" class="btn btn-dark px-5 py-2 fw-bold rounded-pill w-100"
                        style="background-color: #0f172a;" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>






  <!-- add Team model start -->
    <div class="modal" [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'">

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header">
                    <h5>Add Inquiry</h5>
                    <button class="btn-close" (click)="closeModal()">✕</button>
                </div>

                <!-- BODY -->
                <div class="modal-body">
                      <form>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">User Name</label>
                            <div class="custom-input">
                                    <i class="bi bi-person"></i>
                                <input type="text" class="form-control border-start-0 ps-0 shadow-none" placeholder="Enter User Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Phone Number</label>
                            <div class="custom-input">
                                     <i class="bi bi-telephone"></i>
                                <input type="text" class="form-control border-start-0 ps-0 shadow-none" placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Pickup Location</label>
                            <div class="custom-input">
                                     <i class="bi bi-geo-alt"></i>
                                <input type="text" class="form-control border-start-0 ps-0 shadow-none"
                                    placeholder="Enter Pickup Location">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Drop Location</label>
                            <div class="custom-input">
                                     <i class="bi bi-geo-alt"></i>
                                <input type="text" class="form-control border-start-0 ps-0 shadow-none" placeholder="Enter Drop Location">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Ride Date</label>
                            <div class="custom-input">
                                     <i class="bi bi-calendar3"></i>
                                <input type="text" class="form-control border-start-0 ps-0 shadow-none" placeholder="Select Date"
                                    onfocus="(this.type='date')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Time</label>
                            <div class="custom-input">
                                     <i class="bi bi-clock"></i>
                                <input type="text" class="form-control border-start-0 ps-0 shadow-none" placeholder="Select Time"
                                    onfocus="(this.type='time')">
                            </div>
                        </div>
                    </div>
                </form>
                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                    <button class="cancel-btn" (click)="closeModal()">Cancel</button>
                    <button class="save-btn">Save</button>
                </div>

            </div>
        </div>
    </div>

    <!-- SINGLE BACKDROP -->
    <div class="modal-backdrop" *ngIf="isModalOpen"></div>
    <!-- add Team model end -->