<div class="container p-4">
    <div class="dashboard-header d-flex justify-content-between align-items-center mb-4">
        <h2 class="page-title m-0 fw-bold">Slider</h2>

        <div class="header-actions d-flex gap-3 align-items-center">
            <div class="search-box position-relative">
                <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
                <input type="text" class="form-control ps-5 shadow-none border-secondary-subtle"
                    placeholder="Search...">
            </div>
            <button class="btn btn-dark btn-add px-4">
                Add Slider
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-container">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Image</th>
                                <th>Redirect To</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td>
                                    <img src="../../../assets/logo/team1.png" alt="">
                                </td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-pencil"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                            <tr>
                                <td> 2 </td>
                                <td>
                                    <img src="../../../assets/logo/team1.png" alt="">
                                </td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view pe-auto"></i>
                                    <i class="bi bi-pencil"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td>
                                    <img src="../../../assets/logo/team1.png" alt="">
                                </td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-pencil"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>