/* header start */
.header {
    background-color: #F7F7F7;
    padding: 25px;
    border-radius: 30px;
    margin-bottom: 25px;
}
.heder-title h2{
    font-family: var(--Secondary-font);
    font-weight: 500;
}

.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: #f5f5f5;
    margin: 0 0 0 50%;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 16px;
    padding-left: 10px;
}

.search-icon {
    font-size: 18px;
    color: #888;
}
/* header end */


/* dashboard css start */
.member-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgb(61 67 82 / 45%);
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.member-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Icon circle */
.icon-box {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon */
.icon-box i {
  font-size: 26px;
  color: #1e2a3a;
}

/* Text content */
.content h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  font-family: var(--Secondary-font);
  color: #101729;

}

.content p {
  margin: 0;
  font-size: 14px;
  color: #101729;
}

/* Container */
.table-container {
  background: #f4f5f7;
  padding: 0 10px;
  border-radius: 15px;
}

/* Table */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* Header */
.custom-table thead tr {
  border-radius: 10px;
}

.custom-table th {
  padding: 12px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  text-align: left;
}

/* Body rows */
.custom-table tbody tr {
  background: #ffffff;
  border-radius: 10px;
  transition: 0.3s;
}

.custom-table tbody tr:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* Cells */
.custom-table td {
  padding: 12px;
  font-size: 14px;
  color: #444;
}

/* Rounded row effect */
.custom-table tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.custom-table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Actions */
.action-btns {
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* Icons */
.action-btns i {
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

/* View */
.view {
  color: #4a5568;
}

.view:hover {
  color: #007bff;
}

/* Delete */
.delete {
  color: #e53e3e;
}

.delete:hover {
  color: #c53030;
}



/* dashboard css end */