<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heder-title">
                    <h2>Dashboard</h2>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="search-box">
                    <i class="bi bi-search search-icon"></i>
                    <input type="text" placeholder="Search..." />
                </div>
            </div>
        </div>
    </div>
</div>


<!-- dashboard start -->
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="member-card">
                    <div class="icon-box">
                        <i class="bi bi-people-fill"></i>
                    </div>

                    <div class="content">
                        <h2>1090</h2>
                        <p>Total Members</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="member-card">
                    <div class="icon-box">
                        <i class="bi bi-bicycle"></i>
                    </div>

                    <div class="content">
                        <h2>200</h2>
                        <p>Total Rides</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="member-card">
                    <div class="icon-box">
                        <i class="bi bi-calendar3-event-fill"></i>
                    </div>
                    <div class="content">
                        <h2>50</h2>
                        <p>Total Event</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="member-card">
                    <div class="icon-box">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <div class="content">
                        <h2>20</h2>
                        <p>Total Inquires</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 my-4">
                <h5>Recent Enquiries</h5>

                <div class="table-container">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>User Name</th>
                                <th>Phone</th>
                                <th>Pickup Location</th>
                                <th>Drop Location</th>
                                <th>Ride Date</th>
                                <th>Time</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td>John Mehta</td>
                                <td>+91 9876543210</td>
                                <td>Surat</td>
                                <td>Surat</td>
                                <td>12 Jan 2026</td>
                                <td>6:00 PM</td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                             <tr>
                                <td> 2 </td>
                                <td>John Mehta</td>
                                <td>+91 9876543210</td>
                                <td>Surat</td>
                                <td>Surat</td>
                                <td>12 Jan 2026</td>
                                <td>6:00 PM</td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                             <tr>
                                <td> 3 </td>
                                <td>John Mehta</td>
                                <td>+91 9876543210</td>
                                <td>Surat</td>
                                <td>Surat</td>
                                <td>12 Jan 2026</td>
                                <td>6:00 PM</td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

              <div class="col-lg-12 my-4">
                <div class="title">
                    <h5>Upcoming Event</h5>
                </div>

                <div class="table-container">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Image</th>
                                <th>Event Name</th>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Time</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td>John Mehta</td>
                                <td>+91 9876543210</td>
                                <td>Surat</td>
                                <td>Surat</td>
                                <td>6:00 PM</td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                             <tr>
                                <td> 2 </td>
                                <td>John Mehta</td>
                                <td>+91 9876543210</td>
                                <td>Surat</td>
                                <td>Surat</td>
                                <td>6:00 PM</td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                             <tr>
                                <td> 3 </td>
                                <td>John Mehta</td>
                                <td>+91 9876543210</td>
                                <td>Surat</td>
                                <td>Surat</td>
                                <td>6:00 PM</td>
                                <td class="action-btns">
                                    <i class="bi bi-eye-fill view"></i>
                                    <i class="bi bi-trash-fill delete"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- dashboard end -->